html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #e2bdbdb;
  font-size: 3rem;
}

.buffer {
  height: 10rem;
}

hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 65px;
  opacity: 1;
}

.btn {
  flex-wrap: wrap;
  border-radius: 250px;
  text-transform: uppercase;
}

.btn-primary {
  color: ;
  background-color: #f05f44;
  border-color: #f05f44;
  transition: 0.2s;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  transform: scale(1.05);
}

.btn-xl {
  padding: 1rem 2rem;
}

